<!DOCTYPE html>
<html>
<head>
    <title>Diwali Festival</title>
    <style>
        body {
    background-image: url('/static/image/cropped-5120-2880-1294631.jpg');
    background-size: cover;
}
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        .diwali-image {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container" >
        <h1>Diwali Festival</h1>
        <p>Diwali, also known as Deepavali, is one of the most significant Hindu festivals in India. It is celebrated over five days and signifies the victory of light over darkness and good over evil.</p>
        <p>During Diwali, people clean and decorate their homes with oil lamps (diyas) and colorful rangoli designs. Exchanging gifts and sharing delicious sweets and savory dishes are common customs. Families come together for prayers, and the night sky is illuminated with fireworks.</p>
        <img src="C:\Users\kiran\Downloads\diwali.jpg" alt="Diwali celebration" class="diwali-image">
    </div>
</body>
</html>