<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top Heritage Sites in India</title>
  <style>
    body {
      background: linear-gradient(to bottom, #ff7e5f, #FFFFFF, #4CAF50);
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    #explore-fiji {
      padding: 50px 0;
      text-align: center;
    }

    #explore-fiji h1,
    #explore-fiji h4 {
      color: #fff;
    }

    #explore-fiji iframe {
      width: 60%;
      height: 480px;
    }
  </style>
</head>

<body>

  <section id="explore-fiji">
    <h1>Locate top heritage sites in India!</h1>
    <br><br>
    <h4>This map depicts the top ten historical sites in India in terms of their geographical location.<br> Click on any pointer to learn more about the place and to appreciate the diversity!</h4>
       <a href="#home">Home</a>
    <br><br>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1rWVL7-ObutJZd9PlLtzqS4kounhEzHg&amp;ehbc=2E312F"></iframe>
  </section>

</body>

</html>
